<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2 id="becentered">L`OFFRE NOBO</h2>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<h3 id="becentered"> Choisissez celle qui vous convient </h3>
<div class="container">
    <div class="row">
        <form>
            <div class="col-sm-4">
                <input ng-model="offer" type="radio" name="editList" value="Besoin ponctuel">BESOIN PONCTUEL: 16€/HEURE APRÈS CRÉDIT D'IMPÔTS
                <br>
            </div>
            <div class="col-sm-4">
                <input ng-model="offer" type="radio" name="editList" value="Pack 10h">PACK 10H: 14€/HEURE, SOIT 140€ APRÈS CRÉDIT D'IMPÔTS
                <br>
            </div>
            <div class="col-sm-4">
                <input ng-model="offer" type="radio" name="editList" value="Pack 20h">PACK 20H: 12€/HEURE, SOIT 240€ APRÈS CRÉDIT D'IMPÔTS
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>32€</p>
        </div>
        <div class="col-sm-4">
            <p>280€</p>
        </div>
        <div class="col-sm-4">
            <p>480€</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <p>Un besoin ponctuel, ou simplement envie de tester Nobo? Commandez le nombre d'heures souhaitées, et échangez vos corvées contre une séance de ciné! Attention 2h minimum par prestation. 16€/heure après défiscalisation soit 32€ tout de suite, et 16€ d'économies sur vos impôts! De quoi offrir un joli bouquet de fleur à belle maman. Inclus: ménage, repassage, bricolage, livraison de courses, jardinage, gardiennage et même prendre soin de votre animal de compagnie.</p>
    </div>
    <div class="col-sm-4">
        <p>Plus envie de perdre du temps à faire ce que vous détestez? Avec le pack 10 heures, vous allez enfin pouvoir vous remettre au sport! 14€/heure après défiscalisation soit 280€ tout de suite, et 140€ d'économies sur vos impôts! Pile de quoi changer de lunettes de soleil pour crâner l'été prochain à St-Tropez. Durée de vie du pack: illimitée. Inclus: ménage, repassage, bricolage, livraison de courses, jardinage, gardiennage et même prendre soin de votre animal de compagnie.</p>
    </div>
    <div class="col-sm-4">
        <p>Accro à Nobo?! Avec le pack 20 heures, vous vous sentirez en vacances toute l'année! 12€/heure après défiscalisation soit 480€ tout de suite, et 240€ d'économies sur vos impôts! Pile de quoi s'offrir un week end à Rome. Durée de vie du pack: illimitée. Inclus: ménage, repassage, bricolage, livraison de courses, jardinage, gardiennage et même prendre soin de votre animal de compagnie.</p>
    </div>
</div>
<br>
<br>
<div class="row" ng-if="offer">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <h3> Vous avez choisi l'offre : {{offer}} </h3>
        <br>
    </div>
</div>
<div class="row" ng-if="offer">
    <div class="col-sm-4">
        <h4>Quelle quantité souhaitez-vous acheter ?</h4>
    </div>
</div>
<br>
<br>
<div class="row" ng-if="offer">
    <div class="col-sm-6">
        <h5 id="beinline">{{offer}}</h5>
        <select id="beinline" ng-options="x for x in quantities" value="{{x}}" ng-model="quantity">
        </select>
        <br>
        <br>
        <div>
            <h4 ng-if="quantity"> Total : {{quantity}} x {{offers[offer]}}€  = {{quantity * offers[offer]}}€ </h4>
        </div>
        <div>
            <button ng-click="checkout()" type="button" class="btn btn-primary">Procéder au checkout</button>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- <div ng-if="checkoutMode">
    <form>
        <div class="form-group">
            <label for="inputName">Nom</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nom">
        </div>
        <div class="form-group">
            <label for="inputFirstName">Prénom</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="Prénom">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPhone">Numéro de téléphone</label>
            <input type="number" class="form-control" id="inputPhone" placeholder="Numéro de téléphone">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div> -->
