<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2 id="becentered">L`OFFRE NOBO</h2>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<h3 id="becentered"> Choisissez celle qui vous convient </h3>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>BESOIN PONCTUEL: 16€/HEURE APRÈS CRÉDIT D'IMPÔTS</p>
        </div>
        <div class="col-sm-4">
            <p>PACK 10H: 14€/HEURE, SOIT 140€ APRÈS CRÉDIT D'IMPÔTS</p>
        </div>
        <div class="col-sm-4">
            <p>PACK 20H: 12€/HEURE, SOIT 240€ APRÈS CRÉDIT D'IMPÔTS</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>32€</p>
        </div>
        <div class="col-sm-4">
            <p>280€</p>
        </div>
        <div class="col-sm-4">
            <p>480€</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <p>Un besoin ponctuel, ou simplement envie de tester Nobo? Commandez le nombre d'heures souhaitées, et échangez vos corvées contre une séance de ciné! Attention 2h minimum par prestation. 16€/heure après défiscalisation soit 32€ tout de suite, et 16€ d'économies sur vos impôts! De quoi offrir un joli bouquet de fleur à belle maman. Inclus: ménage, repassage, bricolage, livraison de courses, jardinage, gardiennage et même prendre soin de votre animal de compagnie.</p>
    </div>
    <div class="col-sm-4">
        <p>Plus envie de perdre du temps à faire ce que vous détestez? Avec le pack 10 heures, vous allez enfin pouvoir vous remettre au sport! 14€/heure après défiscalisation soit 280€ tout de suite, et 140€ d'économies sur vos impôts! Pile de quoi changer de lunettes de soleil pour crâner l'été prochain à St-Tropez. Durée de vie du pack: illimitée. Inclus: ménage, repassage, bricolage, livraison de courses, jardinage, gardiennage et même prendre soin de votre animal de compagnie.</p>
    </div>
    <div class="col-sm-4">
        <p>Accro à Nobo?! Avec le pack 20 heures, vous vous sentirez en vacances toute l'année! 12€/heure après défiscalisation soit 480€ tout de suite, et 240€ d'économies sur vos impôts! Pile de quoi s'offrir un week end à Rome. Durée de vie du pack: illimitée. Inclus: ménage, repassage, bricolage, livraison de courses, jardinage, gardiennage et même prendre soin de votre animal de compagnie.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <select ng-model="quantity1" ng-options="x for x in quantities">
        </select>
        <button type="button" class="btn btn-success">Ajouter à mon panier</button>
    </div>
    <div class="col-sm-4">
        <select ng-model="quantity2" ng-options="x for x in quantities">
        </select>
        <button type="button" class="btn btn-success">Ajouter à mon panier</button>
    </div>
    <div class="col-sm-4">
        <select ng-model="quantity3" ng-options="x for x in quantities">
        </select>
        <button type="button" class="btn btn-success">Ajouter à mon panier</button>
    </div>
</div>
<br>
<br>
<div id="becentered">
    <button type="button" class="btn btn-primary">Procéder au checkout</button>
</div>
