<div>
    <form>
        <div class="form-group">
            <label for="inputName">Nom</label>
            <input ng-model="data.name" type="text" class="form-control" id="inputName" placeholder="Nom">
        </div>
        <div class="form-group">
            <label for="inputFirstName">Prénom</label>
            <input ng-model="data.lastName" type="text" class="form-control" id="inputFirstName" placeholder="Prénom">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input ng-model="data.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPhone">Numéro de téléphone</label>
            <input ng-model="data.phone" type="number" class="form-control" id="inputPhone" placeholder="Numéro de téléphone">
        </div>
        <button ng-click="sendForm(data)" class="btn btn-primary">Procéder au paiement</button>
    </form>
</div>
